<h1>Move your piece</h1>
<p>Click on the space that you want to move your piece to</p>
<div class="table-responsive">
	<table class="board table chess">
		<% first_tile_white = true %>
			<% 7.downto(0) do |row| %>
				<tr class="row row<%= row %>">
					<% 0.upto(7) do |column| %>	
						<td data-move-url="<%= move_path(@game,:piece_id => @piece.id, :x_coord => column,:y_coord => row) %>" class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>">
						<% if @x_coord.to_i == column && @y_coord.to_i == row %>
							<%= image_tag(@piece.image, :piece_id => @piece, :x_coord => @piece, :y_coord => @piece, :class => "img-responsive selected") %>
						<% else %>
							<% @pieces.each do |piece| %>
							<% if piece.x_coord == column && piece.y_coord == row %>
								<%= image_tag(piece.image, :class=>"img-responsive") %>
							<% end%>
						<% end %>
					<% end %>
					</td>
				<% end %>
				</tr>
		<% first_tile_white = first_tile_white.! %>
		<% end %>
	</table>
</div>

<!-- csrf securty built into Rails throws  action controller error 'invalid authenticity token'
when using plain html form tag for this -->
	<%= form_tag "#", :id => 'move'%>

<script>
	$(function(){
			$('td').click(
				function(el){
					var path = $(el.target).data("move-url");
					var $form =  $('#move');
					$form.attr('action', path); 
					$form.submit();
				});
	});
</script>



