<h1>Move your piece</h1>
<p>Click on the space that you want to move your piece to</p>

<div class="table-responsive">
	<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
				<% 0.upto(7) do |column| %>		
					<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>">

						<%=begin %>
						... ruby code to display selected piece 
						<% end %>


					</td>
				<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
	</table>
</div>


