	<h1>Game#show</h1>
	<% if @current_user_turn %>
		<h2>Click on the piece that you would like to move</h2>

		<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
		<div class="table-responsive">
		<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
			<% 0.upto(7) do |column| %>		
				<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>" id="<%= column %><%= row %>">
					<% @pieces.each do |piece| %>
					    <% if piece.x_coord == column && piece.y_coord == row && piece.color == @current_user_color %> 
					    	<%= link_to image_tag(piece.image, :class=>"img-responsive moveable", :id=>piece.id), select_path( :piece_id => piece, :x_coord => piece.x_coord, :y_coord => piece.y_coord ) %>
					    <% elsif piece.x_coord == column && piece.y_coord == row %>
					    	<%= image_tag(piece.image, :class=>"img-responsive") %>
					    <% end%>
					<% end %>
				</td>
			<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
		</table>
		</div>
	<% else %>
		<h2>Waiting for other player to move...</h2>

		<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
		<div class="table-responsive">
		<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
			<% 0.upto(7) do |column| %>		
				<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>">
					<% @pieces.each do |piece| %>
					    <% if piece.x_coord == column && piece.y_coord == row %> 
					    	<%= image_tag(piece.image, :class=>"img-responsive") %>
					    <% end%>
					<% end %>
				</td>
			<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
		</table>
		</div>
	<% end %>

<%= form_tag "#", :id => 'move'%>


<script>
$(function() {
    $(".moveable").draggable();
			$("td.space").droppable({
				drop: function( event, ui ) {
					var drop_target_id = event.target.id;
					var target_x = drop_target_id[0];
					var target_y = drop_target_id[1];
					var piece_id = ui.draggable.prop('id');
					var path = "/games/<%= @game.id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
					var $form =  $('#move');
					$form.attr('action', path); 
					console.log(path);
					$form.submit();			
		        	//alert("Piece " + piece_id + " dropped on tile: x= " + target_x + ", y= " + target_y);
		      }		
			});
  });
</script>

