	<h1>Game#show</h1>
	<p>Find me in app/views/game/show.html.erb</p>

	<div class="table-responsive">
	<table class="board table chess">

	<% first_tile_white = true %>
	<% 7.downto(0) do |row| %>
		<tr class="row row<%= row %>">
		<% 0.upto(7) do |column| %>
			<% if first_tile_white
					tile_color = column % 2 == 0 ? "white" : "black info"
				else
					tile_color = column % 2 == 0 ? "black info" : "white"
				end %>
			<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color %>">
				<% @pieces.each do |piece| %>
				    <% if piece.x_coord == column && piece.y_coord == row %> 
				    	<%= image_tag(piece.image, :class=>"img-responsive") %></i><br />
				    <% end%>
				<% end %>
			</td>
		<% end %>
		</tr>
		<% first_tile_white = first_tile_white.! %>
	<% end %>
	</table>
	</div>
