<!-- 	<h1>Game#show</h1> -->
<%# if @current_user_turn %>

<div id='play' class="<%= @current_user_turn %>">		
	<h2>Click and drag the piece that you would like to move</h2>
		<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
		<div class="table-responsive">
		<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
			<% 0.upto(7) do |column| %>		
				<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>" id="<%= column %><%= row %>">
					<% @pieces.each do |piece| %>
					    <% if piece.x_coord == column && piece.y_coord == row && piece.color == @current_user_color %> 
					    	<%= link_to image_tag(piece.image, :class=>"img-responsive moveable", :id=>piece.id) %>
					    <% elsif piece.x_coord == column && piece.y_coord == row %>
					    	<%= image_tag(piece.image, :class=>"img-responsive") %>
					    <% end%>
					<% end %>
				</td>
			<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
		</table>
		</div>
</div>
	<%# else %>
<div id="wait" >		
	<h2>Waiting for other player to move...</h2>

		<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
		<div class="table-responsive">
		<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
			<% 0.upto(7) do |column| %>		
				<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>" id="<%= column %><%= row %>2">
					<% @pieces.each do |piece| %>
					    <% if piece.x_coord == column && piece.y_coord == row %> 
					    	<%= image_tag(piece.image, :class=>"img-responsive") %>
					    <% end%>
					<% end %>
				</td>
			<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
		</table>
		</div>
	</div>
	<%#end %>

<%= form_tag "#", :id => 'move'%>


<script>
$(function() {
    $(".moveable").draggable();
			$("td.space").droppable({
				drop: function( event, ui ) {
					var drop_target_id = event.target.id;
					var target_x = drop_target_id[0];
					var target_y = drop_target_id[1];
					var piece_id = ui.draggable.prop('id');
					var path = "/games/<%= @game.id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
					var $form =  $('#move');
					$form.attr('action', path); 
					console.log(path);
					$form.submit();			

		      }		
			});
  });
</script>

<script>
$(function() {


	           var playboard = $("div#play");
	           var wait = $("div#wait");

						if ($("div").hasClass("true")) {
							playboard.show();
							wait.hide();
						} else if ($("div").hasClass("false")) {
							playboard.hide();
							wait.show();
						}
	var currentTime = <%= Time.now.to_i %>;

var origPieceLoc = new Firebase("https://burning-heat-9967.firebaseio.com/games/");


  		origPieceLoc.on("child_added", function(snapshot) {
  			var origPieceLocs = snapshot.val();
  			if (origPieceLocs.time >= currentTime){
					console.log(origPieceLocs.pieces);
				
				var coordsid = $("td").attr('id');

				var len = origPieceLocs.pieces.length-1;
				var len2 = coordsid.length-1
  			for(var i = 0;  i < len2; i++){
  				orig_piece_id = origPieceLocs.pieces[i].id;
  				orig_x = origPieceLocs.pieces[i].x_coord;
  				orig_y = origPieceLocs.pieces[i].y_coord;
  				console.log(origPieceLocs.pieces[2].y_coord);

						// for(var j = 0;  i < len2; i++){
						// 	if(coordsid[j] == orig_x + orig_y){
						// 			console.log(coordsid[j])				
						// 		$("td#").empty();
	  			// 	 }
	  			// 	}
		  		};

		  		 $("td").each(function(idx){
  					if($(this).attr('id')==(orig_x + orig_y)){
  					console.log($(this).attr('id'));
  					}
  				});
		  
				}
  		});


		var movesRef = new Firebase("https://burning-heat-9967.firebaseio.com/games/moves");
  		movesRef.on("child_added", function(snapshot) {
					var newMove = snapshot.val();
				
			if (newMove.time >= currentTime){
				console.log(newMove.x_coord);
           var moved_piece = {

				           	 piece_id : newMove.piece_id,
  										x_coord : newMove.x_coord,
  										y_coord : newMove.y_coord,
  										  image : newMove.image
  									 };

           moved_piece.x_coord = moved_piece.x_coord.toString();
           moved_piece.y_coord = moved_piece.y_coord.toString();
           var coords = moved_piece.x_coord + moved_piece.y_coord;
           $td = $("#"+ coords + "2");
           $td.html("hello<img src=/assets/" + moved_piece.image + " class='img-responsive' />");

          

  			};//currTime

  		});//movesRef call back
});//parent
</script>