	<h1>Game#show</h1>
	<p>Find me in app/views/game/show.html.erb</p>
	<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
	<div class="table-responsive">
	<table class="board table chess">

	<% first_tile_white = true %>
	<% 7.downto(0) do |row| %>
		<tr class="row row<%= row %>">
		<% 0.upto(7) do |column| %>		
			<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>">
				<% @pieces.each do |piece| %>
				    <% if piece.x_coord == column && piece.y_coord == row %> 
				    	<%= image_tag(piece.image, :class=>"img-responsive") %></i><br />
				    <% end%>
				<% end %>
			</td>
		<% end %>
		</tr>
		<% first_tile_white = first_tile_white.! %>
	<% end %>
	</table>
	</div>
