<!-- 	<h1>Game#show</h1> -->
<%# if @current_user_turn %>

<div id='play' class="<%= @current_user_turn %>">		
	<h2>Click and drag the piece that you would like to move</h2>
		<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
		<div class="table-responsive">
		<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
			<% 0.upto(7) do |column| %>		
				<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>" id="<%= column %><%= row %>">
					<% @pieces.each do |piece| %>
					    <% if piece.x_coord == column && piece.y_coord == row && piece.color == @current_user_color %> 
					    	<%= link_to image_tag(piece.image, :class=>"img-responsive moveable", :id=>piece.id) %>
					    <% elsif piece.x_coord == column && piece.y_coord == row %>
					    	<%= image_tag(piece.image, :class=>"img-responsive") %>
					    <% end%>
					<% end %>
				</td>
			<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
		</table>
		</div>
</div>
	<%# else %>
<div id="wait" >		
	<h2>Waiting for other player to move...</h2>

		<p><b><%= @player1.email %></b> vs <b><%= @player2.email %></b></p>
		<div class="table-responsive">
		<table class="board table chess">

		<% first_tile_white = true %>
		<% 7.downto(0) do |row| %>
			<tr class="row row<%= row %>">
			<% 0.upto(7) do |column| %>		
				<td class="col-xs-1 space <%= column %><%= row %> <%= tile_color(first_tile_white, column) %>" id="<%= column %><%= row %>">
					<% @pieces.each do |piece| %>
					    <% if piece.x_coord == column && piece.y_coord == row %> 
					    	<%= image_tag(piece.image, :class=>"img-responsive") %>
					    <% end%>
					<% end %>
				</td>
			<% end %>
			</tr>
			<% first_tile_white = first_tile_white.! %>
		<% end %>
		</table>
		</div>
	</div>
	<%#end %>

<%= form_tag "#", :id => 'move'%>


<script>
$(function() {
    $(".moveable").draggable();
			$("td.space").droppable({
				drop: function( event, ui ) {
					var drop_target_id = event.target.id;
					var target_x = drop_target_id[0];
					var target_y = drop_target_id[1];
					var piece_id = ui.draggable.prop('id');
					var path = "/games/<%= @game.id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
					var $form =  $('#move');
					$form.attr('action', path); 
					console.log(path);
					$form.submit();			

		      }		
			});
  });
</script>

<script>
$(function() {


var playboard = $("div#play");
var wait = $("div#wait");

if ($("div").hasClass("true")) {
	playboard.show();
	wait.hide();
	} else if ($("div").hasClass("false")) {
	playboard.hide();
	wait.show();
	}

// var currentTime = <%= Time.now.to_i %>;

var origPieceLoc = new Firebase("https://burning-heat-9967.firebaseio.com/games/");
	var currentTime = <%= Time.now.to_i %>;

	origPieceLoc.on("child_added", function(snapshot) {
		var movedFrom = snapshot.val();
		if (movedFrom.time >= currentTime){
			orig_x = movedFrom.x_coord.toString();
			orig_y = movedFrom.y_coord.toString();
			var orig_spaceLoc = orig_x + orig_y;
			var orig_space = $("." + orig_spaceLoc);
			console.log(orig_space);
			if ($("div").hasClass("false")){
				orig_space.html("");
			}



		

		}// end time if
	});//end of origPiece on child added


var movesRef = new Firebase("https://burning-heat-9967.firebaseio.com/games/moves");
movesRef.on("child_added", function(snapshot) {
	var currentTime = <%= Time.now.to_i %>;
var newMove = snapshot.val();

if (newMove.time >= currentTime){

var moved_piece = {

 	 piece_id : newMove.piece_id,
		x_coord : newMove.x_coord,
		y_coord : newMove.y_coord,
		  image : newMove.image
	 };

moved_piece.x_coord = moved_piece.x_coord.toString();
moved_piece.y_coord = moved_piece.y_coord.toString();
var coords = moved_piece.x_coord + moved_piece.y_coord;
var cell = $("#wait").find("td."+coords);


cell.html("hello<img src=/assets/" + moved_piece.image + " class='img-responsive' />");
// var reloader = function(){
	window.location.href = "<%= url_for :controller => 'games', :action => 'show', :id => @game.id %>";
// }
// if (cell.length > 0){
// console.log("yesss"); 
// reloader();
// }//just reload the not my turn player not sure this makea a diff







};//currTime

});//movesRef call back
});//parent
</script>