<!DOCTYPE html>
<html>
<head>
  <title>Chesster</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if alert.present? %>
<span class="alert"><%= alert %></span> 
<%end%>
	<% if notice.present? %>
<span class="notice"><%= notice %></span> 
<%end%>

<%= yield %>

</body>
</html>
